body{
    font-weight: bold;
}
h1{
    text-align: center;
}

p#first{
    white-space: normal;
    text-indent: 2em;
    font-family: Georgia;
    font-style: oblique;
}

p#second{
    text-indent: 2em;
    white-space: normal;
    font-family: monospace;
}

p#third{
    text-indent: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

p#fourth{
    font-variant: small-caps;
}

p#fiveth{
    font-weight: bolder;
}

p#sixth{
    font: italic bold 2em Arial, Helvetica, sans-serif;
}