body{
    background-color: pink;
}
p{
    color: red;
    word-spacing: 40px;
    text-transform: capitalize;
    text-decoration: blink;
    background: url(../../../practice/img/watercolor.png) repeat-x fixed;
    white-space: pre-line;
}